# If your site is in 'https', then make sure your base url isn't written using 'http' otherwise your sitemap would
# contain http (as opposeed to https) URLs. This would affect Google indexing of your URLs.
baseURL: "https://adityatelange.github.io/hugo-PaperMod/"
title: "Scott Web Dev"
theme: [hugo-PaperMod]

enableInlineShortcodes: true
enableRobotsTXT: true
enableGitInfo: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true
mainsections: ["posts", "papermod"]

minify:
  disableXML: true
  # minifyOutput: true

languages:
  en:
    languageName: "English"
    weight: 1
    taxonomies:
      category: categories
      tag: tags
      series: series

    # custom params for each language should be under [langcode].parms - hugo v0.120.0
 
outputs:
  home:
    - HTML
    - RSS

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  description: "Direct and cost-effective digital solutions which get you noticed. Scott Web Dev offers bespoke advice, guidance and support for building and maintaining a strong presence online"
  keywords: 
    - "Web Development"
    - "Web Design"
    - "Digital Marketing"
    - "Core Web Vitals"
    - "Website accessibility scores"
    - "SEO"
    - "Google Analytics"
    - "Website Design"
    - "Magento"
    - "Shopware"
    - "VueJs"
    - "KnockoutJS"
    - "Nginx"
    - "PHP"
  author: "Scott Anderson"

  defaultTheme: auto
  disableThemeToggle: true
  ShowShareButtons: true
  ShowReadingTime: true
  # disableSpecial1stPost: true
  displayFullLangName: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowRssButtonInSectionTermList: true
  ShowAllPagesInArchive: true
  ShowPageNums: true
  ShowToc: false
  # comments: false

  profileMode:
    enabled: false
    title: PaperMod
    imageUrl: "#"
    imageTitle: my image
    # imageWidth: 120
    # imageHeight: 120
    buttons:
      - name: Archives
        url: archives
      - name: Tags
        url: tags

  homeInfoParams:
    Title: "Scott.a.Dev"
    Image: "img/scott-sun_no_text.png"
    Content: >
      Scott Anderson is an independent Web Developer based in Essex, UK.

  socialIcons:
    - name: email
      title: Email
      url: "mailto:hello@scottadev.com"
      image: "/images/socials/email_icon.svg"
      cta: "Email me!"
    - name: meeting
      title: Book a call with me
      url: "https://calendly.com/scottwebdev-proton/30min"
      image: "/images/socials/phone.svg"
      cta: "Book a call with me"
    - name: LinkedIn
      title: My LinkedIn Profile
      url: "https://www.linkedin.com/in/scott-anderson-09014173/"
      image: "/images/socials/linkedin.png"
      cta: "Connect on LinkedIn"
    - name: StackOverflow
      title: My StackOverflow profile
      url: "https://stackoverflow.com/users/8814328/scott-anderson"
      image: "/images/socials/stackoverflow.png"
      cta: "See my StackOverflow"
    - name: GitHub
      title: My GitHub Profile
      url: "https://www.github.com/scotta38/"
      image: "/images/socials/github.png"
      cta: "Check out my GitHub"

  editPost:
    URL: "https://github.com/adityatelange/hugo-PaperMod/tree/exampleSite/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  experienceItems:
    - name: Magento
      url: "https://business.adobe.com/products/magento/magento-commerce.html"
      image: "Magento-logo2-1-scaled.jpg"
    - name: Shopware
      url: "https://www.shopware.com/en/"
      image: "Shopware_Logo_2016.png"
    - name: VueJs
      url: "https://vuejs.org/"
      image: "vue-spelled-out.jpeg"
    - name: KnockoutJS
      url: "https://knockoutjs.com/"
      image: "ko-logo.png"
    - name: Nginx
      url: "https://nginx.org/en/"
      image: "nginx.jpg"
    - name: PHP
      url: "https://www.php.net/"
      image: "php-1-logo-png-transparent.png"
  


  label:
    text: "Scott Web Dev"
    icon: "/images/SWD-logo.svg"
    iconHeight: 120
  # analytics:
  #     google:
  #         SiteVerificationTag: "XYZabc"

  assets:
    disableHLJS: true
    favicon: "/images/favicon/favicon_v1.png"
  #     favicon16x16: "<link / abs url>"
  #     favicon32x32: "<link / abs url>"
  #     apple_touch_icon: "<link / abs url>"
  #     safari_pinned_tab: "<link / abs url>"

  # cover:
  #     hidden: true # hide everywhere but not in structured data
  #     hiddenInList: true # hide on list pages and home
  #     hiddenInSingle: true # hide on single page

  # fuseOpts:
  #     isCaseSensitive: false
  #     shouldSort: true
  #     location: 0
  #     distance: 1000
  #     threshold: 0.4
  #     minMatchCharLength: 0
  #     keys: ["title", "permalink", "summary", "content"]

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai

# privacy:
#   vimeo:
#     disabled: false
#     simple: true

#   twitter:
#     disabled: false
#     enableDNT: true
#     simple: true

#   instagram:
#     disabled: false
#     simple: true

#   youtube:
#     disabled: false
#     privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  twitter:
    disableInlineCSS: true


