/* Basic Config */
body {
    position: relative;
    overflow: hidden;
}

main.main {
    margin: 70px auto;
}

a {
    color: rgb(145, 152, 229);
}

a:hover {
    color: rgb(100, 105, 189);
}

.post-content .center {
    margin: 1rem auto ;
}

.post-content .clip {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

/* Homepage styles */
    
div.experience {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: min-content;
    gap: 5%;
    margin: 1rem 0;
}

div.experience img{
    max-height: 100px;
    vertical-align:  middle;
}

div.experience .experience-item {   
    height: 100%;
    place-self: center;
    align-content: center;
}

.photo-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: min-content;
}

.photo-item {
    height: 100%;
    place-self: center;
    align-content: center;
}

#paint-streak, #shipbuilding, #launch {
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

/** Author box styles **/

/** Styles when image is configured **/

.author-box.wrapper > .author-box.image {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 5%;
    right: 5%;
    border-radius: 50px;
    padding: 10px;
    background-position: center;
    background-size: contain;
}

.author-box.image .name {
    display: block;
    text-align: center;
    visibility: hidden;
    font-size: 12px;
}

.author-box.image > .entry {
    text-align: center;
    line-height: 1rem;
    list-style-type: none;
}

.author-box.image:hover .author-box.name {
    position: relative;
    z-index: 5;
    border: none;
    opacity: 1;
    visibility: visible;
}

.author-box.wrapper > .author-box.image:hover:before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #FFF;
}

/** Styles when image is not configured **/

.author-box.wrapper > .author-box:not(.image) {
    padding: 20px 10%;
    background-color: var(--code-bg);
}

.author-box:not(.image) > .entry {
    list-style-type: none;
}

.author-box:not(.image) .name {
    display: inline;
}


@media (max-width: 1080px) {
    .head {
        display: block;
        height: auto;
    }

    .head > * {
        margin: 2rem 0;
    }

    .head-item.hero img {
        min-height: 200px;
        border-radius: 5px;
    }

    .author-box.wrapper {
        padding: 5%;
    }

    .author-box.wrapper > .author-box.image {
        position: static;
    }

    .author-box.wrapper > .author-box.image .name {
        display: inline-block;
        visibility: visible;
    }

    .author-box.wrapper > .author-box.image > .entry {
        text-align: left;
        position: relative;
        left: 120px;        
    }
}