/* div.nav {
    position: relative;
} */

.logo {
  position: relative;
  top: 5vh;
}

@media (prefers-color-scheme: dark) {
  #menu li a {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  #menu li a {
    color: rgba(86, 14, 175); /* or another visible color for light mode */
    font-weight: 700;
  }
}

.nav {
  max-width: calc(var(--main-width) + var(--gap) * 2);
}
