{{ define "main" }}
    <section class="head">
        <div class="head-item title">
            <h1>Scott. Dot. Dev.</h1>
        </br>
            <h3>Bespoke Web Solutions for small businesses who want to do more.</h>
        </div>
        <div class="head-item hero">
            <img src="/images/scott-peace.jpg" alt="author standing in Brighton making peace sign" />
        </div>
        <div class="head-item description">
            <p>Want to <i>serve your customers better</i> with a simple, elegant Web Solution?</p>
            </br>
            <p>Have a vision for <i>moving into digital commerce</i>, but don't know how to get there?</p>
            </br>
            <p>Tired of the <i>Jargon</i> and <i>endless hurdles</i> of making your site work?</p> 
            </br>
            <p><b>Scott Dot Dev</b> - helping you achieve your E-Commerce goals, <u>without the fuss</u></p>
        </div>
        <div class="head-item social-links">
            {{ range site.Params.socialIcons }}
                {{ partial "social-link" . }}
            {{ end }}
        </div>
    </section>
    <section id="design">
        <h4>Experience</h4>
        <div class="experience container">
            {{ range site.Params.experienceItems }}
                {{ partial "experience-item" . }}
            {{ end }}
        </div>
    </section>
{{ end }}
