{{ define "main" }}
    <section class="head">
        {{- with .Site.GetPage "/homepage/blocks/hero" -}}
            <div class="head-item title">
                {{- .Content -}}
            </div>
        {{- end -}}
        {{- with .Site.GetPage "/homepage/blocks/detail" -}}
            <div class="head-item description">
                {{- .Content -}}
            </div>
        {{- end -}}
    </section>
    <section class="experience">
        <h4>Experience</h4>
        <div class="experience container">
            {{ range site.Params.experienceItems }}
                {{ partial "experience-item" . }}
            {{ end }}
        </div>
    </section>
{{ end }}
